html{
    --krasa: rgb(0, 26, 255);
    --header-height: 100px;
}

html[data-theme="light"] {
    --krasa: orange;
}

html[data-theme="dark"] {
    --krasa: purple;
}

body{
    margin: 0;
}

header {
    width: 100vw;
    height: var(--header-height);
    background-color: var(--krasa);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

main {
    margin-top: 100px;
    height: var(--header-height);
}
